<div class="row mt-3">

    <div class="col-lg-6">
        <img id="aeronautica_weapon_imperial" style="display: none;" src="assets/img/weapons/aeronautica_weapon_imperial.jpg">
        <img id="circle" style="display: none;" src="assets/img/circle.png">

        <canvas class="canvas rounded" id="canvas" width="514" height="352">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-4 scroll-area-fade">
        <div class="scroll-area">
            <div class="accordion">

                {% include weapons/section-title.html %}
                {% include weapons/section-background.html %}
                {% include weapons/section-image.html %}
                {% include weapons/section-actions.html %}


            </div>

        </div>
    </div>

</div>
