<div class="card">

    <div class="card-header" id="weaponsHeadingZero">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#weaponsCollapseZero" aria-expanded="false"
                aria-controls="weaponsCollapseZero">
                Weapon Name
            </button>
        </h2>
    </div>

    <div class="collapse" id="weaponsCollapseZero">
        <div class="card-body">

            <div class="form-group">
                <label for="weapon-name">weapon Name</label>
                <input class="form-control" type="text" id="weapon-name" name="weapon-name" value="Weapon Name"
                    oninput="onAnyChange()">
            </div>
            <div class="form-group">
                <label for="weapon-title">Title</label>
                <input class="form-control" type="text" id="weapon-title" name="weapon-title" value="Weapon Title"
                    oninput="onAnyChange()">
            </div>

        </div>
    </div>

</div>