<div class="col-sm-6 form-group">
    <label for="fireArc">Fire Arc</label>
    <input class="form-control" type="text" id="fireArc" name="fireArc" value="Front" oninput="onAnyChange()">
</div>

<hr class="dotted">
<b>FPR</b>
<div class="form-row mt-4">
    <div class="col-sm-4 form-group">
        <label for="fbrShort">Short</label>
        <input class="form-control" type="number" id="fbrShort" name="fbrShort" min="0" max="999" value="0"
            oninput="onAnyChange()">
    </div>
    <div class="col-sm-4 form-group">
        <label for="fbrMed">Medium</label>
        <input class="form-control" type="number" id="fbrMed" name="fbrMed" min="0" max="999" value="1"
            oninput="onAnyChange()">
    </div>
    <div class="col-sm-4 form-group">
        <label for="fbrLong">Long</label>
        <input class="form-control" type="number" id="fbrLong" name="fbrLong" min="0" max="999" value="1"
            oninput="onAnyChange()">
    </div>
</div>

<div class="form-row mt-4">
    <div class="col-sm-4 form-group">
        <label for="damage">Damage</label>
        <input class="form-control" type="number" id="damage" name="damage" min="0" max="999" value="0"
            oninput="onAnyChange()">
    </div>
    <div class="col-sm-4 form-group">
        <label for="ammo">Ammo</label>
        <input class="form-control" type="text" id="ammo" name="ammo" value="UL" oninput="onAnyChange()">
    </div>
</div>
<div class="form-group">
    <label for="special">Special</label>
    <input class="form-control" type="text" id="special" name="special" value=" " oninput="onAnyChange()">
</div>