<div class="card">

    <div class="card-header" id="fightersHeadingOne">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#fightersCollapseOne" aria-expanded="false" aria-controls="fightersCollapseOne">
                Background
            </button>
        </h2>
    </div>

    <div class="collapse" id="fightersCollapseOne">
        <div class="card-body">
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select-aeronautica_card_imperial" name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select-aeronautica_card_imperial">Aeronautica Card Imperial</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select-aeronautica_card_beige" name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select-aeronautica_card_beiege">Aeronautica Card Beige</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select-aeronautica_card_blue" name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select-aeronautica_card_blue">Aeronautica Card Blue</label>
            </div>            
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select-aeronautica_card_brown" name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select-aeronautica_card_brown">Aeronautica Card Brown</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select-aeronautica_card_cyan" name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select-aeronautica_card_cyan">Aeronautica Card Cyan</label>
            </div>    
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select-aeronautica_card_green" name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select-aeronautica_card_green">Aeronautica Card Green</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select-aeronautica_card_pink" name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select-aeronautica_card_pink">Aeronautica Card Pink</label>
            </div>            
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select-aeronautica_card_purple" name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select-aeronautica_card_purple">Aeronautica Card Purple</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select-aeronautica_card_red" name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select-aeronautica_card_red">Aeronautica Card Red</label>
            </div>         
            {% comment %}
            <div class="form-group mt-4">
                <label for="backgroundSelect">Load custom background</label>
                <input disabled aria-describedby="fileHelp" class="form-control-file" id="backgroundSelect" oninput="onAnyChange()" type="file">
                <!-- <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
            </div>
            {% endcomment %}

        </div>
    </div>

</div>
