<div class="card">

    <div class="card-header" id="abilitiesHeadingOne">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseOne"
                aria-expanded="false" aria-controls="abilitiesCollapseOne">
                Background
            </button>
        </h2>
    </div>

    <div class="collapse" id="abilitiesCollapseOne">
        <div class="card-body">

            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select_aeronautica_pilot_overlay_beige"
                    name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select_aeronautica_pilot_overlay_beige">Beige</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select_aeronautica_pilot_overlay_blue"
                    name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select_aeronautica_pilot_overlay_blue">Blue</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select_aeronautica_pilot_overlay_brown"
                    name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select_aeronautica_pilot_overlay_brown">Brown</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select_aeronautica_pilot_overlay_cyan"
                    name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select_aeronautica_pilot_overlay_cyan">Cyan</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select_aeronautica_pilot_overlay_green"
                    name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select_aeronautica_pilot_overlay_green">Green</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select_aeronautica_pilot_overlay_imperial"
                    name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select_aeronautica_pilot_overlay_imperial">Imperial</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select_aeronautica_pilot_overlay_pink"
                    name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select_aeronautica_pilot_overlay_pink">Pink</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select_aeronautica_pilot_overlay_purple"
                    name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select_aeronautica_pilot_overlay_purple">Purple</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="select_aeronautica_pilot_overlay_red"
                    name="toggle-backgrounds" oninput="onAnyChange()" type="radio">
                <label class="form-check-label" for="select_aeronautica_pilot_overlay_red">Red</label>
            </div>


            {% comment %}
            <div class="form-group mt-4">
                <label for="abilities-upload-bg">Load custom background</label>
                <input disabled aria-describedby="fileHelp" class="form-control-file" id="abilities-upload-bg"
                    oninput="onAnyChange()" type="file">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the
                    above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>
            {% endcomment %}

        </div>
    </div>

</div>